In [1]:
# !pip install postgres
# !pip install seaborn
# !pip install psycopg2
# Dependencies
import pandas as pd
import seaborn as sns
import os
import matplotlib.pyplot as plt
# ----------------------------------
# Imports the method used for connecting to DBs
from sqlalchemy import create_engine

from config import p_key

In [2]:
# Imports the methods needed to abstract classes into tables}
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()
# Allow us to declare column types
from sqlalchemy import Column, Integer, String, Float 
from sqlalchemy.orm import Session
engine = create_engine(f'postgresql://postgres:{p_key}@localhost/sql_challenge_db')
session = Session(bind=engine)

## Import the Employees Table

In [4]:
employees = pd.read_sql('select * from employees', engine, parse_dates=['birth_date', 'hire_date'])

In [5]:
employees.head()

   emp_no emp_title birth_date  first_name  last_name sex  hire_date
0  473302     s0001 1953-07-25    Hideyuki   Zallocco   M 1990-04-28
1  475053     e0002 1954-11-18       Byong  Delgrande   F 1991-09-07
2   57444     e0002 1958-01-30       Berry       Babb   F 1992-03-21
3  421786     s0001 1957-09-28       Xiong   Verhoeff   M 1987-11-26
4  282238     e0003 1952-10-28  Abdelkader    Baumann   F 1991-01-18

## Import the Departments Table

In [6]:
departments = pd.read_sql('select * from departments', engine)

In [7]:
departments.head()

  dept_no        dept_name
0    d001        Marketing
1    d002          Finance
2    d003  Human Resources
3    d004       Production
4    d005      Development

## Import the Salaries Table

In [8]:
salaries = pd.read_sql('select * from salaries', engine)

In [9]:
salaries.head()

   emp_no  salary
0   10001   60117
1   10002   65828
2   10003   40006
3   10004   40054
4   10005   78228

## Import the Department Manager Table

In [10]:
dept_manager = pd.read_sql('select * from dept_manager', engine)

In [11]:
dept_manager.head()

  dept_no  emp_no
0    d001  110022
1    d001  110039
2    d002  110085
3    d002  110114
4    d003  110183

## Import the Titles Table

In [12]:
titles = pd.read_sql('select * from titles', engine)

In [13]:
titles.head()

  title_id               title
0    s0001               Staff
1    s0002        Senior Staff
2    e0001  Assistant Engineer
3    e0002            Engineer
4    e0003     Senior Engineer

## Find Average Salary by Job Title

### Merge dataframes based on salaries

In [17]:
employee_salaries_df = employees.merge(salaries, on= 'emp_no')

In [18]:
employee_salaries_df.head()

   emp_no emp_title birth_date  first_name  last_name sex  hire_date  salary
0  473302     s0001 1953-07-25    Hideyuki   Zallocco   M 1990-04-28   40000
1  475053     e0002 1954-11-18       Byong  Delgrande   F 1991-09-07   53422
2   57444     e0002 1958-01-30       Berry       Babb   F 1992-03-21   48973
3  421786     s0001 1957-09-28       Xiong   Verhoeff   M 1987-11-26   40000
4  282238     e0003 1952-10-28  Abdelkader    Baumann   F 1991-01-18   40000

### Merge dataframes based on titles

In [20]:
employee_titles_salaries = employee_salaries_df.merge(titles, left_on='emp_title', right_on='title_id')

In [21]:
employee_titles_salaries.head()

,emp_no,emp_title,birth_date,first_name,last_name,sex,hire_date,salary,title_id,title
0,473302,s0001,1953-07-25,Hideyuki,Zallocco,M,1990-04-28,40000,s0001,Staff
1,421786,s0001,1957-09-28,Xiong,Verhoeff,M,1987-11-26,40000,s0001,Staff
2,273487,s0001,1957-04-14,Christoph,Parfitt,M,1991-06-28,56087,s0001,Staff
3,246449,s0001,1958-03-23,Subbu,Bultermann,F,1988-03-25,87084,s0001,Staff
4,48085,s0001,1964-01-19,Venkatesan,Gilg,M,1993-06-28,63016,s0001,Staff

In [ ]:
class Salaries(Base):
    __tablename__ = "salaries"
    emp_no = Column(Integer, primary_key=True)
    salary = Column(Integer)

In [4]:
Base.metadata.create_all(engine)

In [5]:
engine.execute('select * from salaries').fetchall()

[(10001, 60117),
 (10002, 65828),
 (10003, 40006),
 (10004, 40054),
 (10005, 78228),
 (10006, 40000),
 (10007, 56724),
 (10008, 46671),
 (10009, 60929),
 (10010, 72488),
 (10011, 42365),
 (10012, 40000),
 (10013, 40000),
 (10014, 46168),
 (10015, 40000),
 (10016, 70889),
 (10017, 71380),
 (10018, 55881),
 (10019, 44276),
 (10020, 40000),
 (10021, 55025),
 (10022, 40000),
 (10023, 47883),
 (10024, 83733),
 (10025, 40000),
 (10026, 47585),
 (10027, 40000),
 (10028, 48859),
 (10029, 63163),
 (10030, 66956),
 (10031, 40000),
 (10032, 48426),
 (10033, 51258),
 (10034, 47561),
 (10035, 41538),
 (10036, 42819),
 (10037, 40000),
 (10038, 40000),
 (10039, 40000),
 (10040, 52153),
 (10041, 56893),
 (10042, 81662),
 (10043, 49324),
 (10044, 40919),
 (10045, 41971),
 (10046, 40000),
 (10047, 54982),
 (10048, 40000),
 (10049, 40000),
 (10050, 74366),
 (10051, 48817),
 (10052, 57212),
 (10053, 67854),
 (10054, 40000),
 (10055, 80024),
 (10056, 48857),
 (10057, 49616),
 (10058, 52787),
 (10059, 71218),
 (10060, 74686),
 (10061, 68577),
 (10062, 55685),
 (10063, 40000),
 (10064, 40000),
 (10065, 40000),
 (10066, 69736),
 (10067, 44642),
 (10068, 87964),
 (10069, 67932),
 (10070, 55999),
 (10071, 40000),
 (10072, 40000),
 (10073, 56473),
 (10074, 61714),
 (10075, 43815),
 (10076, 47319),
 (10077, 40000),
 (10078, 47280),
 (10079, 53492),
 (10080, 54916),
 (10081, 55786),
 (10082, 48935),
 (10083, 40000),
 (10084, 69811),
 (10085, 40000),
 (10086, 81613),
 (10087, 96750),
 (10088, 65957),
 (10089, 56469),
 (10090, 44978),
 (10091, 40000),
 (10092, 53977),
 (10093, 67856),
 (10094, 58001),
 (10095, 63668),
 (10096, 61395),
 (10097, 44886),
 (10098, 40000),
 (10099, 68781),
 (10100, 54398),
 (10101, 66591),
 (10102, 44380),
 (10103, 68158),
 (10104, 45312),
 (10105, 59258),
 (10106, 62928),
 (10107, 93159),
 (10108, 40000),
 (10109, 40000),
 (10110, 46836),
 (10111, 40000),
 (10112, 49500),
 (10113, 69856),
 (10114, 49593),
 (10115, 40000),
 (10116, 44034),
 (10117, 52284),
 (10118, 40000),
 (10119, 53551),
 (10120, 46292),
 (10121, 43772),
 (10122, 42284),
 (10123, 71524),
 (10124, 40583),
 (10125, 58249),
 (10126, 40000),
 (10127, 40000),
 (10128, 40000),
 (10129, 40000),
 (10130, 40000),
 (10131, 48475),
 (10132, 61590),
 (10133, 40000),
 (10134, 40000),
 (10135, 40000),
 (10136, 82420),
 (10137, 40000),
 (10138, 53574),
 (10139, 40000),
 (10140, 61352),
 (10141, 62907),
 (10142, 40000),
 (10143, 40000),
 (10144, 56720),
 (10145, 47612),
 (10146, 60394),
 (10147, 40000),
 (10148, 63021),
 (10149, 88740),
 (10150, 70122),
 (10151, 90741),
 (10152, 40000),
 (10153, 54246),
 (10154, 40000),
 (10155, 40040),
 (10156, 49879),
 (10157, 48770),
 (10158, 40725),
 (10159, 52881),
 (10160, 91622),
 (10161, 43149),
 (10162, 40000),
 (10163, 41603),
 (10164, 52043),
 (10165, 43991),
 (10166, 51586),
 (10167, 56990),
 (10168, 51818),
 (10169, 70303),
 (10170, 47183),
 (10171, 41311),
 (10172, 41197),
 (10173, 85757),
 (10174, 59520),
 (10175, 72285),
 (10176, 54635),
 (10177, 48041),
 (10178, 50568),
 (10179, 40000),
 (10180, 52444),
 (10181, 40000),
 (10182, 40380),
 (10183, 40000),
 (10184, 48586),
 (10185, 68334),
 (10186, 40000),
 (10187, 71454),
 (10188, 62365),
 (10189, 41222),
 (10190, 40000),
 (10191, 40000),
 (10192, 40000),
 (10193, 48733),
 (10194, 64941),
 (10195, 40000),
 (10196, 86671),
 (10197, 40000),
 (10198, 44076),
 (10199, 42042),
 (10200, 46879),
 (10201, 40000),
 (10202, 47338),
 (10203, 40000),
 (10204, 40000),
 (10205, 40000),
 (10206, 40000),
 (10207, 52783),
 (10208, 61890),
 (10209, 57996),
 (10210, 40000),
 (10211, 49032),
 (10212, 65938),
 (10213, 40000),
 (10214, 58341),
 (10215, 43944),
 (10216, 40000),
 (10217, 40000),
 (10218, 40788),
 (10219, 40000),
 (10220, 58883),
 (10221, 57821),
 (10222, 40000),
 (10223, 62922),
 (10224, 40000),
 (10225, 40000),
 (10226, 79456),
 (10227, 53497),
 (10228, 79474),
 (10229, 58321),
 (10230, 47531),
 (10231, 40000),
 (10232, 89606),
 (10233, 40000),
 (10234, 84584),
 (10235, 41941),
 (10236, 80469),
 (10237, 100715),
 (10238, 52764),
 (10239, 65146),
 (10240, 73874),
 (10241, 40000),
 (10242, 40000),
 (10243, 59332),
 (10244, 56292),
 (10245, 40000),
 (10246, 40000),
 (10247, 40000),
 (10248, 58918),
 (10249, 72192),
 (10250, 50330),
 (10251, 61743),
 (10252, 40000),
 (10253, 62494),
 (10254, 60222),
 (10255, 63822),
 (10256, 71305),
 (10257, 40000),
 (10258, 66280),
 (10259, 88991),
 (10260, 60879),
 (10261, 40000),
 (10262, 63005),
 (10263, 67883),
 (10264, 60522),
 (10265, 46382),
 (10266, 47093),
 (10267, 40000),
 (10268, 41017),
 (10269, 40000),
 (10270, 42081),
 (10271, 53680),
 (10272, 58070),
 (10273, 75148),
 (10274, 86164),
 (10275, 40000),
 (10276, 40000),
 (10277, 59534),
 (10278, 51703),
 (10279, 40000),
 (10280, 66695),
 (10281, 46123),
 (10282, 40000),
 (10283, 40000),
 (10284, 40000),
 (10285, 62075),
 (10286, 40000),
 (10287, 55732),
 (10288, 80474),
 (10289, 40000),
 (10290, 44274),
 (10291, 57430),
 (10292, 78370),
 (10293, 44200),
 (10294, 66448),
 (10295, 46398),
 (10296, 77788),
 (10297, 63061),
 (10298, 40000),
 (10299, 76484),
 (10300, 72504),
 (10301, 40000),
 (10302, 58239),
 (10303, 40000),
 (10304, 106905),
 (10305, 52550),
 (10306, 44229),
 (10307, 40000),
 (10308, 59715),
 (10309, 53031),
 (10310, 42894),
 (10311, 40000),
 (10312, 56705),
 (10313, 60589),
 (10314, 51939),
 (10315, 60494),
 (10316, 40000),
 (10317, 51129),
 (10318, 73259),
 (10319, 84162),
 (10320, 58483),
 (10321, 86819),
 (10322, 41968),
 (10323, 40000),
 (10324, 67499),
 (10325, 44325),
 (10326, 40000),
 (10327, 54734),
 (10328, 46286),
 (10329, 51664),
 (10330, 86545),
 (10331, 55800),
 (10332, 52133),
 (10333, 45141),
 (10334, 40000),
 (10335, 52633),
 (10336, 63248),
 (10337, 56061),
 (10338, 40000),
 (10339, 40000),
 (10340, 68132),
 (10341, 40000),
 (10342, 40000),
 (10343, 40000),
 (10344, 53087),
 (10345, 66930),
 (10346, 78088),
 (10347, 42199),
 (10348, 40000),
 (10349, 47518),
 (10350, 41213),
 (10351, 40000),
 (10352, 40000),
 (10353, 62656),
 (10354, 60762),
 (10355, 70434),
 (10356, 45376),
 (10357, 40000),
 (10358, 63243),
 (10359, 40000),
 (10360, 40000),
 (10361, 64213),
 (10362, 40000),
 (10363, 40401),
 (10364, 51401),
 (10365, 45523),
 (10366, 47229),
 (10367, 63565),
 (10368, 42463),
 (10369, 47236),
 (10370, 40010),
 (10371, 61475),
 (10372, 54505),
 (10373, 53305),
 (10374, 69568),
 (10375, 93329),
 (10376, 42634),
 (10377, 40000),
 (10378, 75311),
 (10379, 40000),
 (10380, 76387),
 (10381, 78510),
 (10382, 45785),
 (10383, 47452),
 (10384, 43270),
 (10385, 40000),
 (10386, 53367),
 (10387, 61374),
 (10388, 62545),
 (10389, 55548),
 (10390, 40000),
 (10391, 56655),
 (10392, 50962),
 (10393, 40000),
 (10394, 40000),
 (10395, 42774),
 (10396, 40393),
 (10397, 40529),
 (10398, 54156),
 (10399, 97010),
 (10400, 63746),
 (10401, 40000),
 (10402, 40000),
 (10403, 83609),
 (10404, 51647),
 (10405, 40000),
 (10406, 40000),
 (10407, 62565),
 (10408, 76369),
 (10409, 64363),
 (10410, 46546),
 (10411, 66415),
 (10412, 65405),
 (10413, 45416),
 (10414, 43255),
 (10415, 50219),
 (10416, 68993),
 (10417, 78571),
 (10418, 52224),
 (10419, 40569),
 (10420, 69604),
 (10421, 40000),
 (10422, 45725),
 (10423, 51183),
 (10424, 50054),
 (10425, 40000),
 (10426, 65757),
 (10427, 79320),
 (10428, 40000),
 (10429, 40000),
 (10430, 40000),
 (10431, 67068),
 (10432, 40000),
 (10433, 40000),
 (10434, 40000),
 (10435, 45352),
 (10436, 40000),
 (10437, 59749),
 (10438, 40000),
 (10439, 62401),
 (10440, 54615),
 (10441, 40000),
 (10442, 46005),
 (10443, 55299),
 (10444, 86407),
 (10445, 59438),
 (10446, 48170),
 (10447, 40000),
 (10448, 48558),
 (10449, 55316),
 (10450, 40000),
 (10451, 46275),
 (10452, 40000),
 (10453, 40000),
 (10454, 84280),
 (10455, 98251),
 (10456, 57599),
 (10457, 60672),
 (10458, 76973),
 (10459, 40000),
 (10460, 40000),
 (10461, 82217),
 (10462, 40000),
 (10463, 66480),
 (10464, 40000),
 (10465, 59124),
 (10466, 55318),
 (10467, 79905),
 (10468, 40000),
 (10469, 42697),
 (10470, 49593),
 (10471, 58951),
 (10472, 48561),
 (10473, 41613),
 (10474, 43948),
 (10475, 51203),
 (10476, 58221),
 (10477, 55138),
 (10478, 40000),
 (10479, 40000),
 (10480, 55669),
 (10481, 40000),
 (10482, 79330),
 (10483, 47423),
 (10484, 40000),
 (10485, 47265),
 (10486, 71692),
 (10487, 45083),
 (10488, 40000),
 (10489, 56739),
 (10490, 62973),
 (10491, 66740),
 (10492, 60838),
 (10493, 43998),
 (10494, 50094),
 (10495, 75661),
 (10496, 41835),
 (10497, 63707),
 (10498, 40000),
 (10499, 40000),
 (10500, 42688),
 (10501, 53922),
 (10502, 40000),
 (10503, 40000),
 (10504, 43931),
 (10505, 63696),
 (10506, 40000),
 (10507, 40000),
 (10508, 46204),
 (10509, 49292),
 (10510, 69341),
 (10511, 40000),
 (10512, 40000),
 (10513, 86392),
 (10514, 48428),
 (10515, 91484),
 (10516, 74920),
 (10517, 65330),
 (10518, 51168),
 (10519, 40000),
 (10520, 40000),
 (10521, 91262),
 (10522, 40000),
 (10523, 40000),
 (10524, 49950),
 (10525, 87439),
 (10526, 40000),
 (10527, 43405),
 (10528, 63813),
 (10529, 47840),
 (10530, 68487),
 (10531, 49168),
 (10532, 87468),
 (10533, 57135),
 (10534, 40000),
 (10535, 47272),
 (10536, 57487),
 (10537, 75976),
 (10538, 72002),
 (10539, 102092),
 (10540, 66067),
 (10541, 50741),
 (10542, 40000),
 (10543, 86526),
 (10544, 45092),
 (10545, 57752),
 (10546, 46871),
 (10547, 40000),
 (10548, 90631),
 (10549, 63795),
 (10550, 40000),
 (10551, 53473),
 (10552, 80483),
 (10553, 73618),
 (10554, 54763),
 (10555, 73486),
 (10556, 68797),
 (10557, 43289),
 (10558, 70012),
 (10559, 90120),
 (10560, 40000),
 (10561, 57319),
 (10562, 59596),
 (10563, 41280),
 (10564, 46660),
 (10565, 40000),
 (10566, 40000),
 (10567, 43717),
 (10568, 64356),
 (10569, 54732),
 (10570, 80145),
 (10571, 43658),
 (10572, 40000),
 (10573, 87241),
 (10574, 40000),
 (10575, 40523),
 (10576, 63861),
 (10577, 48286),
 (10578, 47301),
 (10579, 61438),
 (10580, 40000),
 (10581, 46569),
 (10582, 40973),
 (10583, 79782),
 (10584, 66898),
 (10585, 58389),
 (10586, 47541),
 (10587, 81562),
 (10588, 41478),
 (10589, 57215),
 (10590, 51930),
 (10591, 55131),
 (10592, 55997),
 (10593, 71435),
 (10594, 40000),
 (10595, 40000),
 (10596, 58689),
 (10597, 64739),
 (10598, 43329),
 (10599, 51952),
 (10600, 53535),
 (10601, 40000),
 (10602, 55058),
 (10603, 101271),
 (10604, 50849),
 (10605, 43162),
 (10606, 40000),
 (10607, 55024),
 (10608, 40000),
 (10609, 80458),
 (10610, 49812),
 (10611, 40000),
 (10612, 40000),
 (10613, 40000),
 (10614, 40000),
 (10615, 43533),
 (10616, 87010),
 (10617, 40000),
 (10618, 41127),
 (10619, 81662),
 (10620, 48584),
 (10621, 68991),
 (10622, 40000),
 (10623, 60268),
 (10624, 40000),
 (10625, 59732),
 (10626, 40000),
 (10627, 40000),
 (10628, 41650),
 (10629, 87045),
 (10630, 40000),
 (10631, 40000),
 (10632, 81733),
 (10633, 81900),
 (10634, 45179),
 (10635, 40000),
 (10636, 40904),
 (10637, 103579),
 (10638, 41573),
 (10639, 46291),
 (10640, 65156),
 (10641, 41785),
 (10642, 40000),
 (10643, 46600),
 (10644, 75403),
 (10645, 40000),
 (10646, 51562),
 (10647, 48302),
 (10648, 40000),
 (10649, 40000),
 (10650, 43591),
 (10651, 42023),
 (10652, 53160),
 (10653, 40000),
 (10654, 49062),
 (10655, 82968),
 (10656, 40658),
 (10657, 52462),
 (10658, 60978),
 (10659, 40000),
 (10660, 41814),
 (10661, 48179),
 (10662, 71708),
 (10663, 47521),
 (10664, 48215),
 (10665, 40000),
 (10666, 78258),
 (10667, 40000),
 (10668, 65326),
 (10669, 40000),
 (10670, 74595),
 (10671, 74037),
 (10672, 64663),
 (10673, 40000),
 (10674, 40000),
 (10675, 62205),
 (10676, 58226),
 (10677, 56994),
 (10678, 60389),
 (10679, 40000),
 (10680, 40000),
 (10681, 84136),
 (10682, 40000),
 (10683, 40000),
 (10684, 45861),
 (10685, 60601),
 (10686, 50869),
 (10687, 40000),
 (10688, 88410),
 (10689, 40000),
 (10690, 72028),
 (10691, 46745),
 (10692, 81380),
 (10693, 40000),
 (10694, 53020),
 (10695, 85720),
 (10696, 68913),
 (10697, 40000),
 (10698, 40000),
 (10699, 40000),
 (10700, 41400),
 (10701, 74949),
 (10702, 46581),
 (10703, 56724),
 (10704, 40000),
 (10705, 83673),
 (10706, 56139),
 (10707, 49504),
 (10708, 43514),
 (10709, 40000),
 (10710, 78877),
 (10711, 41824),
 (10712, 40000),
 (10713, 70575),
 (10714, 48821),
 (10715, 42323),
 (10716, 44101),
 (10717, 57525),
 (10718, 75473),
 (10719, 40000),
 (10720, 45832),
 (10721, 40000),
 (10722, 70199),
 (10723, 40000),
 (10724, 42347),
 (10725, 79207),
 (10726, 46315),
 (10727, 58253),
 (10728, 40000),
 (10729, 40000),
 (10730, 62107),
 (10731, 77892),
 (10732, 40000),
 (10733, 48013),
 (10734, 47377),
 (10735, 40000),
 (10736, 40000),
 (10737, 73505),
 (10738, 53510),
 (10739, 40000),
 (10740, 62138),
 (10741, 50265),
 (10742, 67405),
 (10743, 77435),
 (10744, 89495),
 (10745, 40000),
 (10746, 40000),
 (10747, 51538),
 (10748, 54532),
 (10749, 60829),
 (10750, 40000),
 (10751, 50052),
 (10752, 40000),
 (10753, 59507),
 (10754, 61081),
 (10755, 40000),
 (10756, 40000),
 (10757, 49134),
 (10758, 54186),
 (10759, 40000),
 (10760, 40000),
 (10761, 49974),
 (10762, 52172),
 (10763, 70160),
 (10764, 70720),
 (10765, 54339),
 (10766, 40000),
 (10767, 40651),
 (10768, 65717),
 (10769, 70229),
 (10770, 63401),
 (10771, 42658),
 (10772, 40000),
 (10773, 40000),
 (10774, 47119),
 (10775, 43898),
 (10776, 58145),
 (10777, 40000),
 (10778, 64996),
 (10779, 47332),
 (10780, 43654),
 (10781, 40000),
 (10782, 40000),
 (10783, 40000),
 (10784, 43003),
 (10785, 46165),
 (10786, 40000),
 (10787, 51707),
 (10788, 54887),
 (10789, 40000),
 (10790, 62801),
 (10791, 40000),
 (10792, 63324),
 (10793, 40000),
 (10794, 43485),
 (10795, 84206),
 (10796, 41785),
 (10797, 41005),
 (10798, 48210),
 (10799, 50539),
 (10800, 40000),
 (10801, 67302),
 (10802, 40000),
 (10803, 54260),
 (10804, 40000),
 (10805, 48778),
 (10806, 63146),
 (10807, 60203),
 (10808, 40000),
 (10809, 40485),
 (10810, 56062),
 (10811, 40000),
 (10812, 49418),
 (10813, 53246),
 (10814, 59378),
 (10815, 40000),
 (10816, 50240),
 (10817, 54602),
 (10818, 40000),
 (10819, 54631),
 (10820, 62182),
 (10821, 40000),
 (10822, 40110),
 (10823, 40000),
 (10824, 48813),
 (10825, 62199),
 (10826, 59506),
 (10827, 58322),
 (10828, 56559),
 (10829, 40000),
 (10830, 47420),
 (10831, 82330),
 (10832, 69585),
 (10833, 40000),
 (10834, 53869),
 (10835, 40000),
 (10836, 65502),
 (10837, 80879),
 (10838, 54762),
 (10839, 47625),
 (10840, 40000),
 (10841, 40000),
 (10842, 50760),
 (10843, 40000),
 (10844, 40000),
 (10845, 71307),
 (10846, 40000),
 (10847, 40000),
 (10848, 50475),
 (10849, 66065),
 (10850, 64525),
 (10851, 46644),
 (10852, 68153),
 (10853, 53029),
 (10854, 40000),
 (10855, 40000),
 (10856, 42965),
 (10857, 61549),
 (10858, 47847),
 (10859, 65600),
 (10860, 40000),
 (10861, 40000),
 (10862, 81455),
 (10863, 47486),
 (10864, 63243),
 (10865, 76287),
 (10866, 52131),
 (10867, 40000),
 (10868, 54496),
 (10869, 40000),
 (10870, 57493),
 (10871, 40000),
 (10872, 40000),
 (10873, 65835),
 (10874, 56071),
 (10875, 40000),
 (10876, 61389),
 (10877, 52537),
 (10878, 72102),
 (10879, 65651),
 (10880, 42551),
 (10881, 40000),
 (10882, 40000),
 (10883, 40000),
 (10884, 41750),
 (10885, 78613),
 (10886, 40000),
 (10887, 69570),
 (10888, 44183),
 (10889, 61892),
 (10890, 67703),
 (10891, 40000),
 (10892, 40000),
 (10893, 79803),
 (10894, 56923),
 (10895, 67103),
 (10896, 40000),
 (10897, 92925),
 (10898, 57590),
 (10899, 51956),
 (10900, 50054),
 (10901, 46600),
 (10902, 44359),
 (10903, 48377),
 (10904, 54328),
 (10905, 40000),
 (10906, 66204),
 (10907, 40000),
 (10908, 40000),
 (10909, 80935),
 (10910, 40000),
 (10911, 78637),
 (10912, 45665),
 (10913, 62428),
 (10914, 55565),
 (10915, 70564),
 (10916, 47842),
 (10917, 75182),
 (10918, 59521),
 (10919, 88498),
 (10920, 40000),
 (10921, 72601),
 (10922, 51997),
 (10923, 51933),
 (10924, 84783),
 (10925, 40000),
 (10926, 43219),
 (10927, 51819),
 (10928, 40000),
 (10929, 40000),
 (10930, 53785),
 (10931, 63662),
 (10932, 40000),
 (10933, 40000),
 (10934, 48342),
 (10935, 52007),
 (10936, 40000),
 (10937, 40000),
 (10938, 68677),
 (10939, 44203),
 (10940, 74987),
 (10941, 41721),
 (10942, 40000),
 (10943, 45890),
 (10944, 42872),
 (10945, 48633),
 (10946, 59531),
 (10947, 43068),
 (10948, 47252),
 (10949, 58253),
 (10950, 40000),
 (10951, 40000),
 (10952, 40000),
 (10953, 60970),
 (10954, 40000),
 (10955, 97936),
 (10956, 40000),
 (10957, 50675),
 (10958, 56563),
 (10959, 76685),
 (10960, 60491),
 (10961, 72047),
 (10962, 77274),
 (10963, 43878),
 (10964, 70157),
 (10965, 61654),
 (10966, 70464),
 (10967, 40000),
 (10968, 71593),
 (10969, 40000),
 (10970, 40000),
 (10971, 52453),
 (10972, 40000),
 (10973, 54616),
 (10974, 56005),
 (10975, 40000),
 (10976, 40000),
 (10977, 40000),
 (10978, 48115),
 (10979, 55955),
 (10980, 57614),
 (10981, 80674),
 (10982, 46503),
 (10983, 44062),
 (10984, 46645),
 (10985, 40000),
 (10986, 43900),
 (10987, 46108),
 (10988, 54174),
 (10989, 46406),
 (10990, 40000),
 (10991, 55946),
 (10992, 74318),
 (10993, 40000),
 (10994, 41471),
 (10995, 40000),
 (10996, 43564),
 (10997, 40000),
 (10998, 62861),
 (10999, 55946),
 (11000, 54654),
 ...]

In [6]:
salary_list = session.query(Salaries.emp_no, Salaries.salary).order_by(Salaries.emp_no).all()
salary_list

[(10001, 60117),
 (10002, 65828),
 (10003, 40006),
 (10004, 40054),
 (10005, 78228),
 (10006, 40000),
 (10007, 56724),
 (10008, 46671),
 (10009, 60929),
 (10010, 72488),
 (10011, 42365),
 (10012, 40000),
 (10013, 40000),
 (10014, 46168),
 (10015, 40000),
 (10016, 70889),
 (10017, 71380),
 (10018, 55881),
 (10019, 44276),
 (10020, 40000),
 (10021, 55025),
 (10022, 40000),
 (10023, 47883),
 (10024, 83733),
 (10025, 40000),
 (10026, 47585),
 (10027, 40000),
 (10028, 48859),
 (10029, 63163),
 (10030, 66956),
 (10031, 40000),
 (10032, 48426),
 (10033, 51258),
 (10034, 47561),
 (10035, 41538),
 (10036, 42819),
 (10037, 40000),
 (10038, 40000),
 (10039, 40000),
 (10040, 52153),
 (10041, 56893),
 (10042, 81662),
 (10043, 49324),
 (10044, 40919),
 (10045, 41971),
 (10046, 40000),
 (10047, 54982),
 (10048, 40000),
 (10049, 40000),
 (10050, 74366),
 (10051, 48817),
 (10052, 57212),
 (10053, 67854),
 (10054, 40000),
 (10055, 80024),
 (10056, 48857),
 (10057, 49616),
 (10058, 52787),
 (10059, 71218),
 (10060, 74686),
 (10061, 68577),
 (10062, 55685),
 (10063, 40000),
 (10064, 40000),
 (10065, 40000),
 (10066, 69736),
 (10067, 44642),
 (10068, 87964),
 (10069, 67932),
 (10070, 55999),
 (10071, 40000),
 (10072, 40000),
 (10073, 56473),
 (10074, 61714),
 (10075, 43815),
 (10076, 47319),
 (10077, 40000),
 (10078, 47280),
 (10079, 53492),
 (10080, 54916),
 (10081, 55786),
 (10082, 48935),
 (10083, 40000),
 (10084, 69811),
 (10085, 40000),
 (10086, 81613),
 (10087, 96750),
 (10088, 65957),
 (10089, 56469),
 (10090, 44978),
 (10091, 40000),
 (10092, 53977),
 (10093, 67856),
 (10094, 58001),
 (10095, 63668),
 (10096, 61395),
 (10097, 44886),
 (10098, 40000),
 (10099, 68781),
 (10100, 54398),
 (10101, 66591),
 (10102, 44380),
 (10103, 68158),
 (10104, 45312),
 (10105, 59258),
 (10106, 62928),
 (10107, 93159),
 (10108, 40000),
 (10109, 40000),
 (10110, 46836),
 (10111, 40000),
 (10112, 49500),
 (10113, 69856),
 (10114, 49593),
 (10115, 40000),
 (10116, 44034),
 (10117, 52284),
 (10118, 40000),
 (10119, 53551),
 (10120, 46292),
 (10121, 43772),
 (10122, 42284),
 (10123, 71524),
 (10124, 40583),
 (10125, 58249),
 (10126, 40000),
 (10127, 40000),
 (10128, 40000),
 (10129, 40000),
 (10130, 40000),
 (10131, 48475),
 (10132, 61590),
 (10133, 40000),
 (10134, 40000),
 (10135, 40000),
 (10136, 82420),
 (10137, 40000),
 (10138, 53574),
 (10139, 40000),
 (10140, 61352),
 (10141, 62907),
 (10142, 40000),
 (10143, 40000),
 (10144, 56720),
 (10145, 47612),
 (10146, 60394),
 (10147, 40000),
 (10148, 63021),
 (10149, 88740),
 (10150, 70122),
 (10151, 90741),
 (10152, 40000),
 (10153, 54246),
 (10154, 40000),
 (10155, 40040),
 (10156, 49879),
 (10157, 48770),
 (10158, 40725),
 (10159, 52881),
 (10160, 91622),
 (10161, 43149),
 (10162, 40000),
 (10163, 41603),
 (10164, 52043),
 (10165, 43991),
 (10166, 51586),
 (10167, 56990),
 (10168, 51818),
 (10169, 70303),
 (10170, 47183),
 (10171, 41311),
 (10172, 41197),
 (10173, 85757),
 (10174, 59520),
 (10175, 72285),
 (10176, 54635),
 (10177, 48041),
 (10178, 50568),
 (10179, 40000),
 (10180, 52444),
 (10181, 40000),
 (10182, 40380),
 (10183, 40000),
 (10184, 48586),
 (10185, 68334),
 (10186, 40000),
 (10187, 71454),
 (10188, 62365),
 (10189, 41222),
 (10190, 40000),
 (10191, 40000),
 (10192, 40000),
 (10193, 48733),
 (10194, 64941),
 (10195, 40000),
 (10196, 86671),
 (10197, 40000),
 (10198, 44076),
 (10199, 42042),
 (10200, 46879),
 (10201, 40000),
 (10202, 47338),
 (10203, 40000),
 (10204, 40000),
 (10205, 40000),
 (10206, 40000),
 (10207, 52783),
 (10208, 61890),
 (10209, 57996),
 (10210, 40000),
 (10211, 49032),
 (10212, 65938),
 (10213, 40000),
 (10214, 58341),
 (10215, 43944),
 (10216, 40000),
 (10217, 40000),
 (10218, 40788),
 (10219, 40000),
 (10220, 58883),
 (10221, 57821),
 (10222, 40000),
 (10223, 62922),
 (10224, 40000),
 (10225, 40000),
 (10226, 79456),
 (10227, 53497),
 (10228, 79474),
 (10229, 58321),
 (10230, 47531),
 (10231, 40000),
 (10232, 89606),
 (10233, 40000),
 (10234, 84584),
 (10235, 41941),
 (10236, 80469),
 (10237, 100715),
 (10238, 52764),
 (10239, 65146),
 (10240, 73874),
 (10241, 40000),
 (10242, 40000),
 (10243, 59332),
 (10244, 56292),
 (10245, 40000),
 (10246, 40000),
 (10247, 40000),
 (10248, 58918),
 (10249, 72192),
 (10250, 50330),
 (10251, 61743),
 (10252, 40000),
 (10253, 62494),
 (10254, 60222),
 (10255, 63822),
 (10256, 71305),
 (10257, 40000),
 (10258, 66280),
 (10259, 88991),
 (10260, 60879),
 (10261, 40000),
 (10262, 63005),
 (10263, 67883),
 (10264, 60522),
 (10265, 46382),
 (10266, 47093),
 (10267, 40000),
 (10268, 41017),
 (10269, 40000),
 (10270, 42081),
 (10271, 53680),
 (10272, 58070),
 (10273, 75148),
 (10274, 86164),
 (10275, 40000),
 (10276, 40000),
 (10277, 59534),
 (10278, 51703),
 (10279, 40000),
 (10280, 66695),
 (10281, 46123),
 (10282, 40000),
 (10283, 40000),
 (10284, 40000),
 (10285, 62075),
 (10286, 40000),
 (10287, 55732),
 (10288, 80474),
 (10289, 40000),
 (10290, 44274),
 (10291, 57430),
 (10292, 78370),
 (10293, 44200),
 (10294, 66448),
 (10295, 46398),
 (10296, 77788),
 (10297, 63061),
 (10298, 40000),
 (10299, 76484),
 (10300, 72504),
 (10301, 40000),
 (10302, 58239),
 (10303, 40000),
 (10304, 106905),
 (10305, 52550),
 (10306, 44229),
 (10307, 40000),
 (10308, 59715),
 (10309, 53031),
 (10310, 42894),
 (10311, 40000),
 (10312, 56705),
 (10313, 60589),
 (10314, 51939),
 (10315, 60494),
 (10316, 40000),
 (10317, 51129),
 (10318, 73259),
 (10319, 84162),
 (10320, 58483),
 (10321, 86819),
 (10322, 41968),
 (10323, 40000),
 (10324, 67499),
 (10325, 44325),
 (10326, 40000),
 (10327, 54734),
 (10328, 46286),
 (10329, 51664),
 (10330, 86545),
 (10331, 55800),
 (10332, 52133),
 (10333, 45141),
 (10334, 40000),
 (10335, 52633),
 (10336, 63248),
 (10337, 56061),
 (10338, 40000),
 (10339, 40000),
 (10340, 68132),
 (10341, 40000),
 (10342, 40000),
 (10343, 40000),
 (10344, 53087),
 (10345, 66930),
 (10346, 78088),
 (10347, 42199),
 (10348, 40000),
 (10349, 47518),
 (10350, 41213),
 (10351, 40000),
 (10352, 40000),
 (10353, 62656),
 (10354, 60762),
 (10355, 70434),
 (10356, 45376),
 (10357, 40000),
 (10358, 63243),
 (10359, 40000),
 (10360, 40000),
 (10361, 64213),
 (10362, 40000),
 (10363, 40401),
 (10364, 51401),
 (10365, 45523),
 (10366, 47229),
 (10367, 63565),
 (10368, 42463),
 (10369, 47236),
 (10370, 40010),
 (10371, 61475),
 (10372, 54505),
 (10373, 53305),
 (10374, 69568),
 (10375, 93329),
 (10376, 42634),
 (10377, 40000),
 (10378, 75311),
 (10379, 40000),
 (10380, 76387),
 (10381, 78510),
 (10382, 45785),
 (10383, 47452),
 (10384, 43270),
 (10385, 40000),
 (10386, 53367),
 (10387, 61374),
 (10388, 62545),
 (10389, 55548),
 (10390, 40000),
 (10391, 56655),
 (10392, 50962),
 (10393, 40000),
 (10394, 40000),
 (10395, 42774),
 (10396, 40393),
 (10397, 40529),
 (10398, 54156),
 (10399, 97010),
 (10400, 63746),
 (10401, 40000),
 (10402, 40000),
 (10403, 83609),
 (10404, 51647),
 (10405, 40000),
 (10406, 40000),
 (10407, 62565),
 (10408, 76369),
 (10409, 64363),
 (10410, 46546),
 (10411, 66415),
 (10412, 65405),
 (10413, 45416),
 (10414, 43255),
 (10415, 50219),
 (10416, 68993),
 (10417, 78571),
 (10418, 52224),
 (10419, 40569),
 (10420, 69604),
 (10421, 40000),
 (10422, 45725),
 (10423, 51183),
 (10424, 50054),
 (10425, 40000),
 (10426, 65757),
 (10427, 79320),
 (10428, 40000),
 (10429, 40000),
 (10430, 40000),
 (10431, 67068),
 (10432, 40000),
 (10433, 40000),
 (10434, 40000),
 (10435, 45352),
 (10436, 40000),
 (10437, 59749),
 (10438, 40000),
 (10439, 62401),
 (10440, 54615),
 (10441, 40000),
 (10442, 46005),
 (10443, 55299),
 (10444, 86407),
 (10445, 59438),
 (10446, 48170),
 (10447, 40000),
 (10448, 48558),
 (10449, 55316),
 (10450, 40000),
 (10451, 46275),
 (10452, 40000),
 (10453, 40000),
 (10454, 84280),
 (10455, 98251),
 (10456, 57599),
 (10457, 60672),
 (10458, 76973),
 (10459, 40000),
 (10460, 40000),
 (10461, 82217),
 (10462, 40000),
 (10463, 66480),
 (10464, 40000),
 (10465, 59124),
 (10466, 55318),
 (10467, 79905),
 (10468, 40000),
 (10469, 42697),
 (10470, 49593),
 (10471, 58951),
 (10472, 48561),
 (10473, 41613),
 (10474, 43948),
 (10475, 51203),
 (10476, 58221),
 (10477, 55138),
 (10478, 40000),
 (10479, 40000),
 (10480, 55669),
 (10481, 40000),
 (10482, 79330),
 (10483, 47423),
 (10484, 40000),
 (10485, 47265),
 (10486, 71692),
 (10487, 45083),
 (10488, 40000),
 (10489, 56739),
 (10490, 62973),
 (10491, 66740),
 (10492, 60838),
 (10493, 43998),
 (10494, 50094),
 (10495, 75661),
 (10496, 41835),
 (10497, 63707),
 (10498, 40000),
 (10499, 40000),
 (10500, 42688),
 (10501, 53922),
 (10502, 40000),
 (10503, 40000),
 (10504, 43931),
 (10505, 63696),
 (10506, 40000),
 (10507, 40000),
 (10508, 46204),
 (10509, 49292),
 (10510, 69341),
 (10511, 40000),
 (10512, 40000),
 (10513, 86392),
 (10514, 48428),
 (10515, 91484),
 (10516, 74920),
 (10517, 65330),
 (10518, 51168),
 (10519, 40000),
 (10520, 40000),
 (10521, 91262),
 (10522, 40000),
 (10523, 40000),
 (10524, 49950),
 (10525, 87439),
 (10526, 40000),
 (10527, 43405),
 (10528, 63813),
 (10529, 47840),
 (10530, 68487),
 (10531, 49168),
 (10532, 87468),
 (10533, 57135),
 (10534, 40000),
 (10535, 47272),
 (10536, 57487),
 (10537, 75976),
 (10538, 72002),
 (10539, 102092),
 (10540, 66067),
 (10541, 50741),
 (10542, 40000),
 (10543, 86526),
 (10544, 45092),
 (10545, 57752),
 (10546, 46871),
 (10547, 40000),
 (10548, 90631),
 (10549, 63795),
 (10550, 40000),
 (10551, 53473),
 (10552, 80483),
 (10553, 73618),
 (10554, 54763),
 (10555, 73486),
 (10556, 68797),
 (10557, 43289),
 (10558, 70012),
 (10559, 90120),
 (10560, 40000),
 (10561, 57319),
 (10562, 59596),
 (10563, 41280),
 (10564, 46660),
 (10565, 40000),
 (10566, 40000),
 (10567, 43717),
 (10568, 64356),
 (10569, 54732),
 (10570, 80145),
 (10571, 43658),
 (10572, 40000),
 (10573, 87241),
 (10574, 40000),
 (10575, 40523),
 (10576, 63861),
 (10577, 48286),
 (10578, 47301),
 (10579, 61438),
 (10580, 40000),
 (10581, 46569),
 (10582, 40973),
 (10583, 79782),
 (10584, 66898),
 (10585, 58389),
 (10586, 47541),
 (10587, 81562),
 (10588, 41478),
 (10589, 57215),
 (10590, 51930),
 (10591, 55131),
 (10592, 55997),
 (10593, 71435),
 (10594, 40000),
 (10595, 40000),
 (10596, 58689),
 (10597, 64739),
 (10598, 43329),
 (10599, 51952),
 (10600, 53535),
 (10601, 40000),
 (10602, 55058),
 (10603, 101271),
 (10604, 50849),
 (10605, 43162),
 (10606, 40000),
 (10607, 55024),
 (10608, 40000),
 (10609, 80458),
 (10610, 49812),
 (10611, 40000),
 (10612, 40000),
 (10613, 40000),
 (10614, 40000),
 (10615, 43533),
 (10616, 87010),
 (10617, 40000),
 (10618, 41127),
 (10619, 81662),
 (10620, 48584),
 (10621, 68991),
 (10622, 40000),
 (10623, 60268),
 (10624, 40000),
 (10625, 59732),
 (10626, 40000),
 (10627, 40000),
 (10628, 41650),
 (10629, 87045),
 (10630, 40000),
 (10631, 40000),
 (10632, 81733),
 (10633, 81900),
 (10634, 45179),
 (10635, 40000),
 (10636, 40904),
 (10637, 103579),
 (10638, 41573),
 (10639, 46291),
 (10640, 65156),
 (10641, 41785),
 (10642, 40000),
 (10643, 46600),
 (10644, 75403),
 (10645, 40000),
 (10646, 51562),
 (10647, 48302),
 (10648, 40000),
 (10649, 40000),
 (10650, 43591),
 (10651, 42023),
 (10652, 53160),
 (10653, 40000),
 (10654, 49062),
 (10655, 82968),
 (10656, 40658),
 (10657, 52462),
 (10658, 60978),
 (10659, 40000),
 (10660, 41814),
 (10661, 48179),
 (10662, 71708),
 (10663, 47521),
 (10664, 48215),
 (10665, 40000),
 (10666, 78258),
 (10667, 40000),
 (10668, 65326),
 (10669, 40000),
 (10670, 74595),
 (10671, 74037),
 (10672, 64663),
 (10673, 40000),
 (10674, 40000),
 (10675, 62205),
 (10676, 58226),
 (10677, 56994),
 (10678, 60389),
 (10679, 40000),
 (10680, 40000),
 (10681, 84136),
 (10682, 40000),
 (10683, 40000),
 (10684, 45861),
 (10685, 60601),
 (10686, 50869),
 (10687, 40000),
 (10688, 88410),
 (10689, 40000),
 (10690, 72028),
 (10691, 46745),
 (10692, 81380),
 (10693, 40000),
 (10694, 53020),
 (10695, 85720),
 (10696, 68913),
 (10697, 40000),
 (10698, 40000),
 (10699, 40000),
 (10700, 41400),
 (10701, 74949),
 (10702, 46581),
 (10703, 56724),
 (10704, 40000),
 (10705, 83673),
 (10706, 56139),
 (10707, 49504),
 (10708, 43514),
 (10709, 40000),
 (10710, 78877),
 (10711, 41824),
 (10712, 40000),
 (10713, 70575),
 (10714, 48821),
 (10715, 42323),
 (10716, 44101),
 (10717, 57525),
 (10718, 75473),
 (10719, 40000),
 (10720, 45832),
 (10721, 40000),
 (10722, 70199),
 (10723, 40000),
 (10724, 42347),
 (10725, 79207),
 (10726, 46315),
 (10727, 58253),
 (10728, 40000),
 (10729, 40000),
 (10730, 62107),
 (10731, 77892),
 (10732, 40000),
 (10733, 48013),
 (10734, 47377),
 (10735, 40000),
 (10736, 40000),
 (10737, 73505),
 (10738, 53510),
 (10739, 40000),
 (10740, 62138),
 (10741, 50265),
 (10742, 67405),
 (10743, 77435),
 (10744, 89495),
 (10745, 40000),
 (10746, 40000),
 (10747, 51538),
 (10748, 54532),
 (10749, 60829),
 (10750, 40000),
 (10751, 50052),
 (10752, 40000),
 (10753, 59507),
 (10754, 61081),
 (10755, 40000),
 (10756, 40000),
 (10757, 49134),
 (10758, 54186),
 (10759, 40000),
 (10760, 40000),
 (10761, 49974),
 (10762, 52172),
 (10763, 70160),
 (10764, 70720),
 (10765, 54339),
 (10766, 40000),
 (10767, 40651),
 (10768, 65717),
 (10769, 70229),
 (10770, 63401),
 (10771, 42658),
 (10772, 40000),
 (10773, 40000),
 (10774, 47119),
 (10775, 43898),
 (10776, 58145),
 (10777, 40000),
 (10778, 64996),
 (10779, 47332),
 (10780, 43654),
 (10781, 40000),
 (10782, 40000),
 (10783, 40000),
 (10784, 43003),
 (10785, 46165),
 (10786, 40000),
 (10787, 51707),
 (10788, 54887),
 (10789, 40000),
 (10790, 62801),
 (10791, 40000),
 (10792, 63324),
 (10793, 40000),
 (10794, 43485),
 (10795, 84206),
 (10796, 41785),
 (10797, 41005),
 (10798, 48210),
 (10799, 50539),
 (10800, 40000),
 (10801, 67302),
 (10802, 40000),
 (10803, 54260),
 (10804, 40000),
 (10805, 48778),
 (10806, 63146),
 (10807, 60203),
 (10808, 40000),
 (10809, 40485),
 (10810, 56062),
 (10811, 40000),
 (10812, 49418),
 (10813, 53246),
 (10814, 59378),
 (10815, 40000),
 (10816, 50240),
 (10817, 54602),
 (10818, 40000),
 (10819, 54631),
 (10820, 62182),
 (10821, 40000),
 (10822, 40110),
 (10823, 40000),
 (10824, 48813),
 (10825, 62199),
 (10826, 59506),
 (10827, 58322),
 (10828, 56559),
 (10829, 40000),
 (10830, 47420),
 (10831, 82330),
 (10832, 69585),
 (10833, 40000),
 (10834, 53869),
 (10835, 40000),
 (10836, 65502),
 (10837, 80879),
 (10838, 54762),
 (10839, 47625),
 (10840, 40000),
 (10841, 40000),
 (10842, 50760),
 (10843, 40000),
 (10844, 40000),
 (10845, 71307),
 (10846, 40000),
 (10847, 40000),
 (10848, 50475),
 (10849, 66065),
 (10850, 64525),
 (10851, 46644),
 (10852, 68153),
 (10853, 53029),
 (10854, 40000),
 (10855, 40000),
 (10856, 42965),
 (10857, 61549),
 (10858, 47847),
 (10859, 65600),
 (10860, 40000),
 (10861, 40000),
 (10862, 81455),
 (10863, 47486),
 (10864, 63243),
 (10865, 76287),
 (10866, 52131),
 (10867, 40000),
 (10868, 54496),
 (10869, 40000),
 (10870, 57493),
 (10871, 40000),
 (10872, 40000),
 (10873, 65835),
 (10874, 56071),
 (10875, 40000),
 (10876, 61389),
 (10877, 52537),
 (10878, 72102),
 (10879, 65651),
 (10880, 42551),
 (10881, 40000),
 (10882, 40000),
 (10883, 40000),
 (10884, 41750),
 (10885, 78613),
 (10886, 40000),
 (10887, 69570),
 (10888, 44183),
 (10889, 61892),
 (10890, 67703),
 (10891, 40000),
 (10892, 40000),
 (10893, 79803),
 (10894, 56923),
 (10895, 67103),
 (10896, 40000),
 (10897, 92925),
 (10898, 57590),
 (10899, 51956),
 (10900, 50054),
 (10901, 46600),
 (10902, 44359),
 (10903, 48377),
 (10904, 54328),
 (10905, 40000),
 (10906, 66204),
 (10907, 40000),
 (10908, 40000),
 (10909, 80935),
 (10910, 40000),
 (10911, 78637),
 (10912, 45665),
 (10913, 62428),
 (10914, 55565),
 (10915, 70564),
 (10916, 47842),
 (10917, 75182),
 (10918, 59521),
 (10919, 88498),
 (10920, 40000),
 (10921, 72601),
 (10922, 51997),
 (10923, 51933),
 (10924, 84783),
 (10925, 40000),
 (10926, 43219),
 (10927, 51819),
 (10928, 40000),
 (10929, 40000),
 (10930, 53785),
 (10931, 63662),
 (10932, 40000),
 (10933, 40000),
 (10934, 48342),
 (10935, 52007),
 (10936, 40000),
 (10937, 40000),
 (10938, 68677),
 (10939, 44203),
 (10940, 74987),
 (10941, 41721),
 (10942, 40000),
 (10943, 45890),
 (10944, 42872),
 (10945, 48633),
 (10946, 59531),
 (10947, 43068),
 (10948, 47252),
 (10949, 58253),
 (10950, 40000),
 (10951, 40000),
 (10952, 40000),
 (10953, 60970),
 (10954, 40000),
 (10955, 97936),
 (10956, 40000),
 (10957, 50675),
 (10958, 56563),
 (10959, 76685),
 (10960, 60491),
 (10961, 72047),
 (10962, 77274),
 (10963, 43878),
 (10964, 70157),
 (10965, 61654),
 (10966, 70464),
 (10967, 40000),
 (10968, 71593),
 (10969, 40000),
 (10970, 40000),
 (10971, 52453),
 (10972, 40000),
 (10973, 54616),
 (10974, 56005),
 (10975, 40000),
 (10976, 40000),
 (10977, 40000),
 (10978, 48115),
 (10979, 55955),
 (10980, 57614),
 (10981, 80674),
 (10982, 46503),
 (10983, 44062),
 (10984, 46645),
 (10985, 40000),
 (10986, 43900),
 (10987, 46108),
 (10988, 54174),
 (10989, 46406),
 (10990, 40000),
 (10991, 55946),
 (10992, 74318),
 (10993, 40000),
 (10994, 41471),
 (10995, 40000),
 (10996, 43564),
 (10997, 40000),
 (10998, 62861),
 (10999, 55946),
 (11000, 54654),
 ...]

In [7]:
df = pd.DataFrame(salary_list, columns=['employee', 'salary'])
df.set_index('employee')
df

        employee  salary
0          10001   60117
1          10002   65828
2          10003   40006
3          10004   40054
4          10005   78228
...          ...     ...
300019    499995   40000
300020    499996   58058
300021    499997   49597
300022    499998   40000
300023    499999   63707

[300024 rows x 2 columns]

In [8]:

salary_ranges = [0, 40000, 50000, 60000, 70000, 80000, 1000000]
salary_bins = ["Less than 40000", "40k-50k", "50k-60k", "60k-70k", "70k-80k", "Greater than 80k"]

df["Salary Groups"] = pd.cut(df["salary"], salary_ranges, labels = salary_bins)

salary_groups = df.groupby(['Salary Groups']).count()
salary_groups = df.drop('employee', 1)
#salary_groups = df.rename(columns={'salary': "Total Employees"})
salary_groups

        salary    Salary Groups
0        60117          60k-70k
1        65828          60k-70k
2        40006          40k-50k
3        40054          40k-50k
4        78228          70k-80k
...        ...              ...
300019   40000  Less than 40000
300020   58058          50k-60k
300021   49597          40k-50k
300022   40000  Less than 40000
300023   63707          60k-70k

[300024 rows x 2 columns]